.not-have-container {
  padding: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.table {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  padding: 1rem;
  border-collapse: collapse;

  thead {
    padding-left: 1rem;
    background-color: var(--primary);
    color: white;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    td {
      padding: 0.5rem 2rem;
    }
  }
}
