<div *ngIf="comments$ | async as comments">
  <ul class="list-unstyled comment-list ">
    <li *ngFor="let comment of comments">
      <p class="text-dark font-weight-bold mr-1">{{ comment.userName }}</p>
      <em>{{ comment.date | date: "dd-MM-yyyy HH:mm"}}</em>
      <p class="break-world mb-2">{{ comment.text }}</p>
    </li>
  </ul>

  <div class="mt-4" >
    <form [formGroup]="commentForm" (submit)="save()">
      <div class="input-group">
        <input class="form-control" formControlName="comment" name="comment">
        <div class="input-group-append">
          <button [disabled]="commentForm.invalid" class="btn btn-primary pull-left">Publish</button>
        </div>
      </div>
      
      <app-message
        message="Max characters size of 300"
        *ngIf="!!commentForm.get('comment')?.errors?.maxLength"
        >
      </app-message>
    </form>
  </div>
</div>