header {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;
    text-decoration: none;
  }

  .active {
    font-weight: 600;
  }
}

main {
  background-color: #fcfcfc;
  padding: var(--padding);
}
